{% extends "usuarios/layout.html" %}

{% block body %}


<div class="container">
    <h3>Ingreso al sistema</h3>
    <br>
    <form action="{% url 'login' %}" method="post" class="loguin">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">Nombre usuario</label>
            <input type="text" class="form-control" name="username" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input type="password" class="form-control" name="password" id="exampleInputPassword1">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Recordarme</label>
        </div>
        <button type="submit" class="btn btn-secondary">Ingresar</button>
    </form>
    <br>
    {% if mensaje %}
    <div>{{ mensaje }}</div>
    {% endif %}
</div>


{% endblock %}