{% extends "usuarios/layout.html" %}

{% block body %}

<div class="container">
    <h4>Sistema de turnos</h4>
    <br>
    <form style="width: 40%;">
        <div>
            <label>Paciente</label>
            <select class="form-control form-control-sm">
                <option>Small select</option>
            </select>
            <br>
            <label>Medico</label>
            <select class="form-control form-control-sm">
                <option>Small select</option>
            </select>
            <br>
            <label>Fecha</label><br>
            <input type="date">
            <br><br>
            <label>Hora</label><br>
            <input type="time">
        </div>
    </form>
</div>

{% endblock %}