{% extends "usuarios/layout.html" %}

{% block body %}

<div class="formulario_turno">
    <form action=""></form>
    <div>
        <label>Paciente</label>
        <select class="form-control form-control-sm">
            <option>Small select</option>
        </select>

        <label>Medico</label>
        <select class="form-control form-control-sm">
            <option>Small select</option>
        </select>


        <label>Fecha</label>
        <input type="date">

        <label>Hora</label>
        <input type="time">

    </div>
</div>

{% endblock %}