{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app_optometria_css/style.css' %}">
    <title>Document</title>
</head>

<body>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique eius nemo maxime officia, quaerat, aperiam
        deserunt dolore officiis ad, dolorum excepturi mollitia modi voluptatibus illo eligendi debitis porro libero
        nesciunt!</p>
</body>

</html>