{% extends "inicio/layout.html" %}

{% block body %}

<div class="container">
    <div class="titulo">
        <h1 class="Bienvenidos">Bienvenidos al Centro Óptico Eyes</h1>
    </div>
    <br><br>

    <h5 class="titulo">Si eres usuario:</h5>
    <button type="button" class="btn btn-secondary"><a href="{% url 'login' %}">Ingresar</a></button>
    <br><br>
    <h5 class="titulo">Si eres administrador:</h5>
    <button type="button" class="btn btn-secondary"><a href="#">Ingresar</a></button>
</div>

{% endblock %}