{% extends "inicio/layout.html" %}

{% block body %}
<div class="container">
  <form id="medico" style="width:50%">
    <div class="form-group">
      <label for="exampleFormControlInput1">Paciente</label>
      <input type="text" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Consulta</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Control</option>
        <option>Seguimiento</option>
        <option>Post operatorio</option>
        <option>Estudios</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect2">Receta</label>
      <select multiple class="form-control" id="exampleFormControlSelect2">
        <option>Cerca</option>
        <option>Lejos</option>
        <option>Izquierda</option>
        <option>Derecha</option>
        <option>Armazon</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Historia clínica</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
    </div>
  </form>
  <button type="button" class="btn btn-secondary">Imprimir receta</button>
</div>

{% endblock %}