{% extends "usuarios/layout.html" %}

{% block body %}

<div class="container d-flex flex-column align-items-center">
    <h4>Sistema de turnos</h4>
    <br>
    <form action="{% url 'reservar' %}" method="POST" style="width: 40%;">
        {% csrf_token %}
        <div>
            <label>Paciente</label>
            <select class="form-control form-control-sm">
                {% for paciente in pacientes %}
                <option>{{paciente.nombre}} {{paciente.apellido}}</option>
                {% endfor %}

            </select>
            <br>
            <label>Medico</label>
            <select class="form-control form-control-sm">
                {% for medico in medicos %}
                <option>{{medico.nombre}} {{medico.apellido}}</option>
                {% endfor %}

            </select>
            <!-- <br>
            <label>Fecha</label><br>
            <input type="date">
            <br><br>
            <label>Hora</label><br>
            <input type="time"> -->
        </div>
        <br>
        <button type="submit" class="btn btn-secondary">Agendar turno</button>
    </form>
</div>

{% endblock %}